blib*
Makefile
Makefile.old
Build
Build.bat
_build*
pm_to_blib*
*.tar.gz
.lwpcookies
cover_db
pod2htm*.tmp
Data-Babel-Client-*
test_one.*
blib/*
_build/*
old_dist_tgzs/*
attic/*
babel.tgz
log/*
logs/*
